@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
$orange: hsl(26, 100%, 55%);
$pale-orange: hsl(25, 100%, 94%);
@mixin font($weight) {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: $weight;
}

html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}
// Container styles Start
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem 2.4rem;
}
// Container styles End
// hamburger__overlay styles Start
// .hamburger__overlay{
//   height: 100vh;
//   width: 100%;

// }
// hamburger__overlay styles End
// Header styles Start
header {
  position: relative;
  nav {
    display: flex;
    flex-wrap: wrap;
    .left__headerSide {
      display: flex;
      align-items: center;
      width: 60%;
      gap: 1rem;
      justify-content: flex-start;
      img {
        height: 1.3rem;
      }
      .desktop__nav {
        display: none;
        margin-left: 1.5rem;
        .desktop__nav--item {
          padding-right: 1.5rem;
          .desktop__nav--link {
            color: gray;
            @include font(400);
            font-size: 1.1rem;
            &:hover {
              color: $orange;
            }
          }
        }
      }
      .hamburger__nav {
        height: 100vh;
        width: 0;
        visibility: hidden;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        z-index: 1;

        .hamburger__nav--list {
          margin-top: 4rem;
        }
        .hamburger__nav--cross {
          position: absolute;
          top: 0.8rem;
          left: 0.5rem;
          cursor: pointer;
          font-size: 2rem;
          color: black;
          transition: all 0.5s ease-in-out;
          transform: translateX(120%);
          &:hover {
            color: $orange;
          }
        }
        .hamburger__nav--item {
          padding-bottom: 1rem;

          .hamburger__nav--link {
            color: black;
            @include font(400);
            font-size: 1.1rem;
            transition: all 0.5s ease-in-out;
            margin-left: 1.8rem;
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }

    .right__headerSide {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 40%;
      position: relative;
      justify-content: flex-end;
      .cart__count {
        position: absolute;
        top: -11px;
        right: 30px;
        background-color: $orange;
        color: white;
        width: 1rem;
        height: 1rem;
        padding: 1px 12px;
        border-radius: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 1.5rem;
      }
    }
  }
}

// Header styles End
// product styles Start
.product__slider {
  position: relative;
  .product__image {
    width: 100%;
  }
  .product__link {
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    cursor: pointer;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: purple;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  .product__previous {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }
  .product__next {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
  }
}
.product__slider--images {
  display: none;
}
// product styles End
// hero styles Start
.product__details {
  .product__brand {
    @include font(700);
    color: #b0b4b7;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-bottom: 1rem;
  }
  .product__title {
    font-size: 2rem;
    @include font(700);
    padding-bottom: 1rem;
  }
  .product__description {
    color: #b0b4b7;
    @include font(400);
    line-height: 1.5rem;
    word-wrap: normal;
    padding-bottom: 1rem;
  }
  .product__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 3rem;
    .discounted__price {
      @include font(700);
      font-size: 1.8rem;
    }
    .discount__percentage {
      @include font(700);
      background-color: black;
      color: white;
      padding: 0.3rem 0.7rem;
      border-radius: 0.5rem;
      margin: 0 1rem;
    }
    .full__price {
      @include font(700);
      color: #b0b4b7;
      text-decoration: line-through;
      transform: translateX(80%);
    }
  }
  .product__quantity {
    padding: 1rem;
    background-color: rgba(176, 180, 183, 0.2);
    border-radius: 1.5rem;
  }
  .quantity__buttons {
    display: flex;
    justify-content: space-between;
    .quantity__number {
      font-size: 1.5rem;
      @include font(700);
    }
    .quantity__button {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      @include font(700);
      cursor: pointer;
      color: $orange;
    }
  }
  .product__button {
    width: 100%;
    height: 3.5rem;
    border: none;
    background-color: $orange;
    font-size: 1rem;
    @include font(700);
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 36px $orange;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    i {
      padding-right: 0.5rem;
    }
  }
}
// hero styles End
// Cart styles Start
.cart__active {
  visibility: visible !important;
  width: 350px !important;
}
.cart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  width: 0;
  height: 300px;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
  position: absolute;
  z-index: 1;
  top: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  right: 10px;
  visibility: hidden;
  .cart__title {
    border-bottom: 1px solid rgba(128, 128, 128, 0.432);
    @include font(700);
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .cart__details {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .cart__img {
      width: 20%;

      img {
        width: 100%;
        border-radius: 0.5rem;
      }
    }
    .cart__content {
      width: 70%;
      p:nth-of-type(1) {
        color: #b0b4b7;
        @include font(700);
        text-transform: capitalize;
        font-size: 0.9rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
      }
      p:nth-of-type(2) {
        @include font(400);
        color: #b0b4b7;
        font-size: 1.1rem;
        padding-left: 1rem;
      }
      .cart__price--total {
        @include font(700);
        font-size: 1.1rem;
        color: black;
      }
    }
    img[alt="delete"] {
      width: 1rem;
    }
  }
  .cart__btn {
    height: 3.5rem;
    color: black;
    @include font(700);
    font-size: 1.5rem;
    background-color: $orange;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  }
  .delete {
    width: 1rem;
  }
}
// Cart styles End
footer {
  text-align: center;
  margin-bottom: 1rem;
}
